*{
    font-family: "Lato", sans-serif;
}
.left-menu{
    background-color: blueviolet;
    width: 15%;
    height: 100% !important;
    position: fixed;
}
.right-side{
    background-color: aqua;
    width: 85%;
}
.menu-items{
    list-style-type: none;
}
li{
    font-size: 17px;
}